.comments-and-caption {
    overflow-y: auto;
    min-height: 74%;
    max-height: 74%;
    border-bottom: 1px solid #ddd;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.no-outline {
    height: 28px;
    border-bottom-style: none;
    border-top-style: none;
    resize: none;
    border-left-style: none;
    border-right-style: none;
    outline: none;
    box-shadow: none;
}
.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-link-as-text {
    background: none;
    border: none;
    padding: 0;
    color: #007bff; /* Culoarea specifica unui link */
    text-decoration: none; /* Linie sub text, pentru a imita stilul de link */
    cursor: pointer;
    position: relative;
    top: -5px;
    font-weight: 700;
    outline: none;
    box-shadow: none;
}

.btn-link-as-text:hover {
    color: #0056b3; /* Culoare de hover, pentru a da efectul link-ului */
    text-decoration: none;
}

.post-image {
    position: relative;
    display: inline-block;
}

.single-profile-post .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* overlay transparent */
    transition: background-color 0.3s ease;
}
.single-profile-post .overlay:hover {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.nav-center {
    margin-left: auto;
}

.search-bar {
    /*width: 300px;*/
    padding: 8px 15px 8px 35px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    outline: none;
    transition: 0.3s ease;
}

.search-box {
    width: 300px;
}

.search-bar:focus {
    border-color: #424242;
    box-shadow: 0 0 5px rgba(47, 41, 41, 0.5);
}


.navbar.navbar-expand-md {
    position:fixed;
    top:0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0.1, 0.1) !important;
}

/*padding pentru navbar*/
body {
    padding-top: 100px;
}

.results-box {
    display: none;
    width: 350px;
    height: 300px;
    border: 1px solid #ccc;
    /*border-top: none;*/
    border-radius: 10px 10px 20px 20px;
    background-color: white;
    position:absolute;
    top: 63px;
}

.search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 12px;
    color: #888;
    font-size: 17px;
    top: 12px;
}

.search-result {
    padding-top: 8px;
    padding-bottom: 8px
}

.search-result:hover {
    background-color: rgb(231 231 231);
}

#search-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



