.index-add-comment-section {
    position:relative;
    left: -2px;
}

.view-comments {
    color: rgb(145,145,145);
    text-decoration: none;
}
.view-comments:hover {
    text-decoration: none;
    color: rgb(145,145,145);
    cursor: pointer;
}

#postModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.options-tab .copy-link-button {
    color: rgb(0, 149, 246);
}

#shareModal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.index-modal-content {
    max-width: 65%;
}

/*se adauga dinamic pentru a forta eliminarea scroll-ului atunci cand apare postModal*/
.no-scroll {
    overflow: hidden;
    height: 100vh; /* Previne scrolling-ul vertical */
}

.index-comments-and-caption {
    /*height: min(74vh, 60%);*/
}

.image-link {
    cursor: pointer;
}

.post-div {
    display: grid;
    grid-template-columns: 8fr 4fr; /* Imagine 8/12, comentarii 4/12 */
    align-items: stretch; /* Asigură că ambele coluri au aceeași înălțime */
    height: auto;
}



@media (min-width: 1000px) {
    .index-comments-and-caption {
        min-height: 60%;
    }
}

@media (min-width: 1250px) {
    .index-comments-and-caption {
        min-height: 65%;
    }
}

@media (min-width: 1450px) {
    .index-comments-and-caption {
        min-height: 70%;
    }
}

@media (min-width: 1650px) {
    .index-comments-and-caption {
        min-height: 75%;
    }
}
